html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

:root {
  --vt-c-white: #fff;
  --vt-c-black: #1a1a1a;
  --vt-c-gray: #8e8e8e;
  --vt-c-text-1: rgba(255, 255, 255, .85);
  --vt-c-text-2: rgba(60, 60, 60, .7);
  --vt-shadow-1: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
}

.light {
  --bg-top-menuColor: #606266;
  --vt-c-bg-mute: #f1f1f1;
  --vt-c-divider: rgba(60, 60, 60, .29);
}

.dark {
  --bg-top-menuColor: #dadada;
  --vt-c-bg-mute: #2f2f2f;
  --vt-c-divider: rgba(84, 84, 84, .65);
}
